@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.App {
  text-align: center;
}

#bg{
  background-image: url(images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  position:absolute;
  width:100%;
  opacity: 0.2;
  z-index:-100;
}

.clickable{
  cursor:pointer;
}
.dialog-message{
  margin: auto;
}
.dialog-image{
  width:auto;
  height:180px;
  vertical-align: bottom;
}

.text-js{
  opacity: 0;
}

.modal-dialog{
  width:500px;
  padding:10px;
  background-color: #ffffffcc;
  height:200px;
  margin-top: 200px;
  margin-left:auto;
  margin-right:auto;
  box-shadow:0 0;
  border: 1px solid #cccccc;
  -webkit-border-radius:5px ;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.header-icon{
  width:16px;
  height:16px;
  margin:8px;
}

.jumbo{
  font-size:48px;
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
}
body{
  color:#555555;
  /*text-shadow: 0.5px 0.5px #000000;*/
  font-size:16px;
  font-family: 'Noto Sans T Chinese',sans-serif;
}

a{
  color: #555555;
  text-shadow: 0 0;
}

a:hover{
  color: #555555;
  text-shadow: 0 0;
}

.page-top{
  display:flex;
  line-height:32px;
  vertical-align: middle;
}

.page-top span{
  margin:5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.main-pot{
  font-size:72px;
  color:#555555;
}
.staff{
  width:100px;
  height: auto;
}

.main-content{
  padding-top:100px;
}

.dialog-register input{
  margin-top:10px;
  margin-bottom:10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.container{
  width:100%;
}

.contribute-btn{
  width:200px;
  transition: all 0.2s ease-in-out;
}

.pot-icon{
  width:auto;
  padding:20px;
  margin:10px;
  height:120px;
}

.contribute-btn:hover{
  box-shadow: 0 0 9px 6px #ffffcc;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
